In [12]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('RFdataset.csv')

In [22]:
df

,Unnamed: 0,year,month,day,number_of_pushes,number_of_forks,number_of_pulls,number_of_Bookmarks,issue_comment_count,issue_author_count,commit_comment_count,commit_author_count,number_of_issues,commit_count,unique_committer_count,Total_count,Status
0,5,2019,5,26,20.0,0.0,10.0,0.0,3.0,3.0,0.0,0.0,0.0,5.0,1.0,42.0,0.0
1,6,2019,6,2,29.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,39.0,1.0
2,7,2019,6,9,80.0,0.0,19.0,0.0,3.0,2.0,1.0,1.0,0.0,9.0,1.0,116.0,1.0
3,8,2019,6,16,74.0,0.0,25.0,0.0,5.0,4.0,0.0,0.0,0.0,14.0,1.0,123.0,1.0
4,9,2019,6,23,15.0,1.0,8.0,1.0,2.0,2.0,0.0,0.0,0.0,3.0,1.0,33.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40870,41798,2019,12,22,88.0,5.0,86.0,24.0,129.0,42.0,3.0,3.0,0.0,0.0,0.0,380.0,1.0
40871,41799,2019,12,29,31.0,4.0,21.0,30.0,40.0,25.0,0.0,0.0,0.0,0.0,0.0,151.0,0.0
40872,41800,2020,1,5,30.0,2.0,17.0,20.0,13.0,8.0,0.0,0.0,0.0,0.0,0.0,90.0,0.0
40873,41801,2020,1,12,19.0,2.0,17.0,19.0,53.0,33.0,0.0,0.0,0.0,0.0,0.0,143.0,1.0
40874,41802,2020,1,19,3.0,1.0,6.0,3.0,6.0,4.0,0.0,0.0,0.0,0.0,0.0,23.0,0.0