In [12]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('RFdataset.csv')

In [14]:
df.describe()

,Unnamed: 0,year,month,day,number_of_pushes,number_of_forks,number_of_pulls,number_of_Bookmarks,issue_comment_count,issue_author_count,commit_comment_count,commit_author_count,number_of_issues,commit_count,unique_committer_count,Total_count,Status
count,40875.000000,40875.000000,40875.000000,40875.000000,40875.000000,40875.000000,40875.000000,40875.000000,40875.000000,40875.000000,40875.000000,40875.000000,40875.0,40875.000000,40875.000000,40875.000000,40875.000000
mean,20875.432294,2016.557749,6.610789,15.688807,2.389456,0.958899,1.928538,2.184856,4.304734,1.688489,0.038434,0.028673,0.0,7.962398,1.163890,22.648367,0.702875
std,12065.216520,2.862990,3.405499,8.795499,10.548971,4.076971,10.903396,8.866110,34.198856,9.912385,0.400452,0.266933,0.0,33.406668,3.641428,83.618036,0.456998
min,5.000000,2000.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
25%,10420.500000,2015.000000,4.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
50%,20832.000000,2017.000000,7.000000,16.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,2.000000,1.000000
75%,31333.500000,2019.000000,10.000000,23.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.0,3.000000,1.000000,12.000000,1.000000
max,41802.000000,2020.000000,12.000000,31.000000,214.000000,84.000000,388.000000,249.000000,1023.000000,239.000000,16.000000,7.000000,0.0,2136.000000,53.000000,2146.000000,1.000000

In [ ]:
#checking